*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family: Arial, sans-serif;
background:#fff8f6;
color:#333;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,0.1);

}

.logo img{
    height:120px;
    width:auto;
    display:block;
}


nav a{

margin-left:20px;
text-decoration:none;
color:#333;
font-weight:500;

}

.hero{

height:30vh;
background:linear-gradient(135deg,#ff6b6b,#ffa07a);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;

}

.hero h1{

font-size:56px;
margin-bottom:20px;

}

.hero p{

max-width:600px;
margin:auto;
margin-bottom:30px;

}

.cta{

background:white;
color:#ff4d4d;
padding:14px 30px;
border-radius:30px;
font-weight:bold;
text-decoration:none;

}

.mission{

text-align:center;
padding:80px 20px;

}

.features{

display:flex;
justify-content:center;
gap:40px;
padding:40px;

}

.feature{

background:white;
padding:30px;
border-radius:12px;
width:260px;
text-align:center;
box-shadow:0 8px 20px rgba(0,0,0,0.1);

}

footer{

background:#222;
color:white;
text-align:center;
padding:20px;

}
