body{
font-family: Arial;
margin:0;
background:#fff7f2;
}

header{
background:#ff5757;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#ff8a65;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

button{
background:#ff5757;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
}
